:root {
  --bg: #0f1724;
  --card: #0b1220;
  --accent: #06b6d4;
  --muted: #9aa6b2;
  --white: #e6eef6;
}
body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial;
  background: linear-gradient(180deg, #071028 0%, #071a2e 100%);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 24px;
}
header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  font-size: 20px;
}
nav a {
  color: var(--muted);
  text-decoration: none;
  margin-left: 12px;
  font-size: 24px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 20px;
  margin-top: 24px;
}
.card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
}
.portada {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.portada img {
  width: 100%;
  border-radius: 12px;
  opacity: 0.3; /* opacidad 50% */
  display: block;
}
#kdd img {
  width: 100%;
  border-radius: 12px;
  display: block;
}
.img-centro-50 {
  width: 50%;
  display: block;
  margin: 20px auto; /* centra horizontalmente */
  border-radius: 10px; /* opcional, queda bonito */
}

.texto-portada {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}

.texto-portada h1 {
  margin: 0;
  font-size: 48px;
  color: var(--accent);
}

.texto-portada p {
  margin-top: 12px;
  font-size: 28px;
  color: var(--white);
  line-height: 1.4;
}

h2 {
  margin-top: 0;
  color: var(--accent);
}
p {
  color: var(--white);
  line-height: 1.5;
}
ul {
  color: var(--white);
}
.toc {
  font-size: 14px;
}
.small {
  font-size: 13px;
  color: var(--muted);
}
footer {
  margin-top: 30px;
  color: var(--muted);
  font-size: 13px;
  text-align: center;
}
pre {
  background: #021226;
  color: #bfeff6;
  padding: 12px;
  border-radius: 8px;
  overflow: auto;
  font-size: 13px;
}
code {
  background: #06202a;
  padding: 2px 6px;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  background: var(--accent);
  color: #002022;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .container {
    margin: 18px;
  }
}

.tabla-scroll {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

#tabla-csv {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

#tabla-csv th,
#tabla-csv td {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
}

#tabla-csv th {
  background: rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
}

.box1 {
  display: flex;
}

.boximg {
  max-width: 90%;
}

.thanks {
  width: 400px;
}
